.container1 {
    background-color: lightpink;
    border: 3px solid black ;
    margin: 8px;
    padding: 2px;
    height: 1000px;
    display: flex; 
    flex-direction: row; /* column wise bhi aise hoga */
    justify-content: start;
    
    
}

.box {
    height: 200px;
    width: 200px;
    margin: 3px;
    padding: 3px;
    border: 2px black solid;

}

#box1 {
    background-color: blue;
    order: 4; /* we can change the order sequence of flex item */
}
#box2 {
    background-color: red;
    order: 3;
}
#box3 {
    background-color: green;
}
#box4 {
    background-color: orange;
    order: -1;
}